<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home"><img src="assets/images/Logo.png" alt="logo" style="widows: 2px;">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">Home</a></li>
      <li><a routerLink="/FormForNewEmployer">New Employer</a></li>
      <li><a routerLink="/ListOfEmployers">Our Employers</a></li>
      <li><a routerLink="/SeachDeleteComponent">Search and delete</a></li>
    </ul>
  </div>
</nav>
  
</body>
</html>



<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- The App Section -->
<div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>BENNETT</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>LOGISTICS AND TRANSPORTATION SOLUTIONS DELIVERED SAFELY</b></h1>
      <p><span style="font-size:36px">We Are..</span> Headquartered in McDonough, Georgia, Bennett International Group provides innovative logistics and transportation for companies across America. We offer a suite of trucking and specialized logistics services, from flatbed and step deck trucking, driveaway, manufactured housing transport and RV delivery to 3PL/4PL logistics, customs brokerage and warehousing. Every day we put over 46 years’ experience in the industry and a network of over 3,000 owner/operators, agents, and employees to work providing the safest, and best possible service to all of our business partners.</p>
      <button class="button"><a href= "https://www.bennettig.com/">Know more?</a></button>
    </div>
  </div>
</div>

<!-- Clarity Section -->
<div class="container" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-33">
      <img src="assets/images/truck.png" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>Our Operations</b></h1>
      <h1 class="small-font" style="color:bisque;"><b>
        <div>
          1. <a href= "https://www.bennettig.com/transportation-services/general-freight-trucking/">Flatbed and Step Deck Trucking, </a> <br>
          2. <a href= "https://www.bennettig.com/transportation-services/driveaway/">Drive away</a><br>
          3. <a href= "https://www.bennettig.com/transportation-services/manufactured-housing-modular-buildings/">Manufactured Housing Transport</a><br>
          4. <a href= "https://www.bennettig.com/transportation-services/rv-transportation/">RV Delivery</a><br>
        </div>
      </b></h1>
      <button class="button"><a href= "https://www.bennettig.com/">Know more?</a></button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>Contact Details</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen" ><b>CORPORATE HEADQUARTERS</b></h1>
      <p><span style="font-size:36px">
        1001 Industrial Parkway<br>
        P.O. Box 569 <br>
        McDonough, Georgia 30253 <br>

        Phone:<br>
        (770) 957-1866<br>
        (800) 866-5500 Toll free<br>
        
        Driver/Owner Operator Support:<br>
        (800) 866-4600 Toll free<br>

        Fax:<br>
        (800) 866-4420 Corporate Office<br>
        (800) 866-4440 Freight Operations<br>
        (800) 201-9612 Imaging<br>
      
      
      
      
      </span> 
    </div>
  </div>
</div>




</body>
</html>
